* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --body-color: rgb(118, 55, 55);
  --card-color: rgb(206, 213, 157);
  --nav-color: rgb(166, 237, 251);
  --hover-color: rgb(202, 216, 192);
  --nav-item-color: rgb(102, 105, 87);
  --card-show-answer-color: rgb(118, 55, 55);
  --answer-color: white;
}

body {
  background-color: var(--body-color);
  font-family: "Times New Roman", Times, serif;
}

main {
  margin-top: 100px;
  margin-bottom: 100px;
}
