@import "global.css";
@import "/components/card.css";
@import "/components/profile.css";
@import "/components/headerfooter.css";

.shadow {
  box-shadow: 5px 5px 10px black;
}

.emptycontainer {
  height: 100px;
  width: 90vw;
}
@media only screen and (min-width: 600px) {
  .emptycontainer {
    height: 100px;
    width: 200px;
  }
}

.hugeletters {
  font-size: 40px;
}
.hover:hover {
  cursor: pointer;
}

.flexcolumn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.body--dark-mode {
  background-color: black;
  color: rgb(218, 218, 218);
}

.card--dark-mode {
  background-color: rgb(20, 21, 14);
}
